#footer-info {
.fixed;
.left(0);
.bottom(0);
width: 100%;
.h(10);
.bg-col(@grayDk);
.col(white);
.border-top(@wht; 0.4);

	&:before {
	content: "";
	.abs;
	.bottom(10);
	.left(0);
	width: 100%;
	.bg-col(@wht);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
	.h(5);	
	}

	.social-links {
	//.mag-top(2);	
		
		ul {
		list-style: none;
		.pad-left(0);
		text-align: center;
		}	
		
		li {
		.in-block;	
		.mag-left(0.5);
		.mag-right(0);
		}
		
		a {
		.bg-col(white);
		.col(@grayDk);
		.block;
		.w(3.5);
		.h(3.5);
		.rounded(20px);
		.no-text-dec;
			
			span {
			.none;	
			}
			
			i {
			.block;
			.w(3.5);
			.h(3.5);	
			.line-h(3.5);
			font-size: 1.3em;
			text-align: center;
			}	
			
			&:hover, &:active, &:focus {
			.bg-col(@red);
			.col(white);
			}
		}
	}
	
	.notices {	
	.font-size(1.1);
	text-align: center;	
	.pad-top(1);
	.pad-bot(1);
		span {
		.in-block;
		.line-h(1.4);	
		}
	}
	
	.lexcel-logo {
	.fleft;
	.h(7.5);	
	.mag-top(1);
	width: 100%;
	.bg-size(contain);
	.bg-repeat(no-repeat);
	background-position: left top;
		
		a {
		.block;
		height: 100%;
		.indent(-999);	
		}
	}
	
	.headway-logo {
	.abs;
	.right(-2.5);
	.bottom(-14);
	margin: 0px auto 20px;
	.border(@grayDk; 0.4);
	.w(15);
	.h(15);
	.bg-col(white);	
	.rounded(100%);
	.bg-size(70%);
	.bg-repeat(no-repeat);
	background-position: 15px 15px;
		
		a {
		.block;
		height: 100%;
		.indent(-999);	
		}
	}
	
}