header[role="banner"] {
.bg-col(white);	
.abs;
.top(0);
.left(0);
width: 100%;
.h(8);
z-index: 2;
//.over-hide;

	&:after {
	content: "";
	.abs;
	width: 100%;
	.border(@grayDk; 0.2);
	.left(0);
	.bottom(-0.2);	
	}
	
	.logo {
	.mag-all(0);
		a {
		.block;
		.h(8);
		width: 100%;
		.bg-img("tlw-logo-wide.png");
		.bg-repeat(no-repeat);
		background-position: center center;

			&:hover, &:active, &:focus{
			.opacity(0.5);	
			}
			
		}
			
	}
	
	.header-action-btns {
	.block !important;
	.pad-top(1.8);
			
		.btn {
		.border(@grayDk; 0.4);
		.no-rounded;
		.txt-col-grayDk;
		.w(4.8);
		.h(4.8);
		.pad-all(0);
		}

	}
	
}

html.svg {
	header[role="banner"] {
		
		.logo {
			a {
			.bg-img("tlw-logo-wide.svg");
			}
		}
	}
}